

security:
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
    firewalls:
        main:
            anonymous: ~
            form_login:
                login_path: login
                check_path: login
    access_control:
        #- {path: /login, roles: IS_AUTHENTICATED_ANONYMUSLY}
         - {path: /admin, roles: ROLE_ADMIN}

# security:
#     encoders:
#         Symfony\Components\Security\Core\User\User: plaintext
#     role_hierarchy:
#         ROLE_ADMIN: [ROLE_USER]
    providers:
        chain_provider:
            chain:
                providers: [in_memory]
        in_memory:
            memory:
                users:
                    admin: {password: adminpassword, roles: ROLE_ADMIN}
#     firewalls:
#         main:
#             pattern: /.*
#             form_login:
#                 login_path: /user/login
#                 check_path: /user/login_check
#                 default_target_path: /
#             logout:
#                 path: /user/logout
#                 target: /
#             security: true
#             anonymous: true
#     access_control:
#         - {path: /user/login, roles: IS_AUTHENTICATED_ANONYMUSLY}
#         - {path: /admin, roles: ROLE_ADMIN}
















# # To get started with security, check out the documentation:
# # http://symfony.com/doc/current/book/security.html
# security:

#     # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
#     providers:
#         in_memory:
#             memory: ~

#     firewalls:
#         # disables authentication for assets and the profiler, adapt it according to your needs
#         dev:
#             pattern: ^/(_(profiler|wdt)|css|images|js)/
#             security: false

#         main:
#             anonymous: ~
#             # activate different ways to authenticate

#             # http_basic: ~
#             # http://symfony.com/doc/current/book/security.html#a-configuring-how-your-users-will-authenticate

#             # form_login: ~
#             # http://symfony.com/doc/current/cookbook/security/form_login_setup.html
