admin_game_index:
    path:     /
    defaults: { _controller: "AppBundle:Admin:index", category:'',page:1 }
    methods:  GET

admin_game_show:
    path:     /{id}/show
    defaults: { _controller: "AppBundle:Game:show" }
    methods:  GET

admin_game_new:
    path:     /new
    defaults: { _controller: "AppBundle:Game:new" }
    methods:  [GET, POST]

admin_game_edit:
    path:     /{id}/edit
    defaults: { _controller: "AppBundle:Game:edit" }
    methods:  [GET, POST]

admin_game_delete:
    path:     /{id}/delete
    defaults: { _controller: "AppBundle:Game:delete" }
    methods:  DELETE
admin_page:
    path:     /page{page}
    defaults: { _controller: AppBundle:Admin:Index, category:''}
    requirements:
        page:  \d+
admin_category:
    path:     /{category}
    defaults: { _controller: AppBundle:Admin:Index, category: '',page: 1 }
