app_admin_game:
    resource: "@AppBundle/Resources/config/routing/admin.yml"
    prefix:   /admin/game
_index:
    path:     /
    defaults: { _controller: AppBundle:Home:Index, category: '', page: 1 }
_cart:
    path:    /cart
    defaults: {_controller: AppBundle:Cart:Index}
_add_to_cart:
    path:    /cart/add_to_cart
    defaults: {_controller: AppBundle:Cart:AddToCart}
_remove_from_cart:
    path:   /cart/remove_from_cart
    defaults: {_controller: AppBundle:Cart:RemoveFromCart}
_checkout:
    path:   /cart/checkout
    defaults: {_controller: AppBundle:Cart:Checkout}
_list:
    path:     /{category}/page{page}
    defaults: { _controller: AppBundle:Home:Index }
    requirements:
        page:  \d+
_page:
    path:     /page{page}
    defaults: { _controller: AppBundle:Home:Index, category:''}
    requirements:
        page:  \d+
_category:
    path:     /{category}
    defaults: { _controller: AppBundle:Home:Index, category: '',page: 1 }

_default:
    path:    /{controller}/{action}/{id}
    defaults: {_controller: AppBundle:Home:Index, category:'',page:1}
login:
    path: /user/login
    defaults: {_controller: AppBundle:User:login}
login_check:
    path: /user/login_check
logout:
    path: /user/logout
