{% extends "::base.html.twig" %}
{% block sidebar %}
    <div id="sidebar">
        {{ render(controller(
        'AppBundle:Home:sidebar',
        { 'currentCategory':  category|default('') }
    )) }}
    </div>   
{% endblock %}
