{% extends 'AppBundle:Shared:layout.html.twig' %}
{% block title %}Оформление заказа{% endblock %}
{% block body %}
<h2>Спасибо</h2>
<p>Спасибо за выбор нашего магазина. Заказ в кратчайшие сроки будет отправлен</p>
{% endblock %}